params.keep_unclassified=false
params.samples='atcc-strains-samples.csv'
params.input='/media/IMU/GEN/PROJECTS/MINBC_19_015/SeqData/MinION-Data'
params.outdir='results-atcc-strains'
params.collect=false
params.cores=10
/*
================================================================
    Params file batching 
================================================================
*/
params.watch=false
params.batch=5000
params.wait=1
fileName='done.fast5'

/*
================================================================
    Params basecalling, adapter and barcode trimming
================================================================
*/
params.model='dna_r9.4.1_450bps_fast.cfg'
params.basecall=false
params.runid='runid_0'
params.trim=false
params.pass=true

/*
================================================================
    Params filter reads
================================================================
*/
params.filter=false
params.phred=10

/*
================================================================
    Params quality Control
================================================================
*/
params.summary=false
params.qc='pycoqc'

/*
================================================================
    Mapping to Human
================================================================
*/
params.mapping=true

/*
================================================================
    Polishing
================================================================
*/
params.givenAssembly=false
params.polish=true
params.pepper_db='database/pepper/pepper_r941_guppy305_microbial.pkl'
params.homopolish_db='database/homopolish/bacteria.msh'

/*
================================================================
    Params taxonomy classification
================================================================
*/
params.tax=false
params.cendb='/data/databases/centrifuge_db'
params.cenin='hpvc'

/*
================================================================
    Params assembly
================================================================
*/
params.assembly=false
params.meta=false
params.hybrid=false
params.qc_assembly=true

/*
================================================================
    Params QC assembly
================================================================
*/
params.qc_assembly=true

/*
================================================================
    Map to reference genome, plot coverage
================================================================
*/
params.reference=false
params.map=true
params.coverage=true

/*
================================================================
    Resistance gene identifier
================================================================
*/
params.res=false
params.card='/data/databases/CARD'

/*
================================================================
    Genome annotation
================================================================
*/
params.annotation=false

profiles {
    local {
        process.executor = 'local'
	cpus = 60 
    }

    slurm {
    	includeConfig 'config/slurm.config'
    }
}

conda {
	enabled=true
	cacheDir = "$projectDir/conda"
}

singularity {
	enabled = true
	cacheDir = "$projectDir/singularity"
	runOptions= "--bind $params.cendb,$params.input"
}

docker {
	enabled = false
}

process {
	errorStrategy = 'ignore'
	maxRetries = 1
	maxForks = 100
}
executor {
	cpus = 100
}

timeline {
	enabled = false 
}

report {
	enabled = false 
}

dag {
	enabled = false 
}
