params.samples='samples.csv'
params.outdir='results'
params.collect=false
/*
================================================================
    Params file batching 
================================================================
*/
params.watch=false
params.batch=5000
params.wait=1
fileName='done.fast5'

/*
================================================================
    Params basecalling, adapter and barcode trimming
================================================================
*/
params.model='dna_r9.4.1_450bps_fast.cfg'
params.basecall=false
params.runid='runid_0'
params.trim=false
params.pass=true

/*
================================================================
    Params quality Control
================================================================
*/
params.qc=false
params.summary=''

/*
================================================================
    Params taxonomy classification
================================================================
*/
params.tax=false
params.cendb='/data/databases/centrifuge_db'
params.cenin='hpvc'

/*
================================================================
    Params assembly
================================================================
*/
params.assembly=false
params.meta=false

/*
================================================================
    Map to reference genome, plot coverage
================================================================
*/
params.reference='/scratch/hdd2/farid/MinBC_data/GCA_000240185.2_ASM24018v2_genomic.fna'
params.map='minimap2'
params.coverage=false
/*
================================================================
    Resistance gene identifier
================================================================
*/
params.res = 'rgi'
params.card='/data/databases/CARD'


profiles {
    local {
        process.executor = 'local'
    }

    slurm {
    	includeConfig 'config/slurm.config'
    }
}

singularity {
	enabled = true
	cacheDir = "$projectDir/singularity"
	runOptions= "--bind $params.cendb,$params.reference,$params.card"
}

docker {
	enabled = false
}

process {
	errorStrategy = 'retry'
	maxRetries = 1
	maxForks = 100
}
executor {
	cpus = 60
}

timeline {
	enabled = false 
}

report {
	enabled = false 
}

dag {
	enabled = false 
}
