params.samples='atcc-strains-samples.csv'
params.input='/media/IMU/GEN/PROJECTS/117_MINBC_19_015/MinION-Data'
params.outdir='results-atcc-strains'
params.collect=false
params.cores=30
/*
================================================================
    Params file batching 
================================================================
*/
params.watch=false
params.batch=5000
params.wait=1
fileName='done.fast5'

/*
================================================================
    Params basecalling, adapter and barcode trimming
================================================================
*/
params.model='dna_r9.4.1_450bps_fast.cfg'
params.basecall=false
params.runid='runid_0'
params.trim=false
params.pass=true

/*
================================================================
    Params filter reads
================================================================
*/
params.filter=false
params.phred=10

/*
================================================================
    Params quality Control
================================================================
*/
params.summary=true
params.qc='pycoqc'

/*
================================================================
    Params taxonomy classification
================================================================
*/
params.tax=true
params.cendb='/data/databases/centrifuge_db'
params.cenin='hpvc'

/*
================================================================
    Params assembly
================================================================
*/
params.assembly=true
params.meta=false
params.hybrid=false
/*
================================================================
    Map to reference genome, plot coverage
================================================================
*/
params.reference=true
params.map=true
params.coverage=true
/*
================================================================
    Resistance gene identifier
================================================================
*/
params.res = false
params.card='/data/databases/CARD'
/*
================================================================
    Genome annotation
================================================================
*/
params.annotation = false

profiles {
    local {
        process.executor = 'local'
    }

    slurm {
    	includeConfig 'config/slurm.config'
    }
}

conda {
    enabled=false
    cacheDir = "$projectDir/conda"
}

singularity {
	enabled = false
	cacheDir = "$projectDir/singularity"
	runOptions= "--bind $params.cendb,$params.input"
}

docker {
	enabled = false
}

process {
	errorStrategy = 'ignore'
	maxRetries = 1
	maxForks = 100
}
executor {
	cpus = 100
}

timeline {
	enabled = false 
}

report {
	enabled = false 
}

dag {
	enabled = false 
}
