singularity {
	enabled = true
	cacheDir = "$projectDir/singularity"
	runOptions= "--bind $params.input"
	autoMounts = false
}

docker {
	enabled = false
}

params {
   outdir = 'results'
}


process {
	errorStrategy = 'retry'
	maxRetries = 1
	maxForks = 100
}

timeline {
	enabled = false 
}

report {
	enabled = false 
}

dag {
	enabled = false 
}