singularity {
	enabled = true
}

docker {
	enabled = false
}

process {
	executor = 'slurm'
    clusterOptions = '--qos=normal' \\modify or constrain the characteristics of a job. example: request longer run time with --qos=long
    cpus = '12'
    memory = { 8.GB * task.attempt }
}

params {

   bwaIndex = '/path/to/bwaIndex' 

}